body {
  background-image: url("/media/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#main_department {
  width: 800px;
  height: 100%;
  float: center;
}

#top_part {
  height: 25%
  background-color: #dedede;
}

#middle_part {
  height: 70%
  background-color: #c7c7c7;
}

#lower_part {
  height: 25%
  background-color: #dedede;
}

nav {
  background-color: #c7c7c7;
}


.name {
  font-family: verdana, arial;
  font-size: 55%;
}

.about {
  font-family: "lucida console", "courier new";
  font-size: 35%;
}
