body {
  background-image: url(media/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.main_department {
  border: 2px solid;
  width: 400px;
  height: 100%;
  float: center;
  background-color: #dedede;
}

.top_part {
  background-color: #dedede;
}

.middle_part {
  background-color: #c7c7c7;
}

.lower_part {
  background-color: #dedede;
}

nav {
  background-color: #c7c7c7;
}


.name {
  font-family: verdana, arial;
  font-size: 55%;
}

.about {
  font-family: "lucida console", "courier new";
  font-size: 35%;
}
